#wraper{
    text-align: center;
    margin-top: 50px;
}

.btn-group-vertical, #todoForm{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.btn-outline-info button{
    margin-left: 20px;
}
